<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Φωτογραφίες &amp; Βίντεο</h2> 
        <hr class="small">
        <div class="row">
         <div class="col-lg-10 col-lg-offset-1 text-center">
          <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/p5.jpg">
              </a>
            </div>
          </div>
        </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/p1.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/p2.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/p3.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/p4.jpg">
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <div class="portfolio-item">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/NKB90-95ti4" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
         <div class="col-lg-10 col-lg-offset-1 text-center" id="#button-size_2">
        <a href="/" class="btn btn-dark">Επιστροφή στην αρχική  </a>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section id="contact" class="footer">
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <ul class="list-unstyled">
        <h1> Επικοινωνία </h1>
        <hr class="small">
           <h4> <li><i class="fa fa-road fa-fw"></i> Themistokleous 64, Athens 106 81, Greece</li> </h4>
           <h4> <li><i class="fa fa-phone fa-fw"></i> {{ site.telephone }}</li> </h4>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://youtube.com/{{ site.youtube_username }}"><i class="fa fa-youtube fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted"> <a href="https://efstratios.github.io"> Efstratios Skleparis</a> &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }} </p>
      </div>
    </div>
  </div>
</footer>
</section>